.body_class {
  background-color: #F4F5F5;
}
.header {
  height: 50px;
  background-color: #DDDDDD;
  width: 100%;
  position: fixed;  
  top:0;
  left: 0;
  right: 0;
}
.footer {
  height: 50px;
  background-color: #DDDDDD;
  width: 100%;

  bottom: :0px;
  left: 0;
  right: 0;
}
.nav_link {
  height: 10px;
  float: right;
  padding: 10px;
  padding-right: 10px;
  float-right:20px;
  padding-top: 15px;
  cursor: pointer;
  margin-right: 10px;
}
.nav_link:hover { background-color: white; }

.dashboard{
  border: 2px red;
  border-style: solid;
  width: 100%;
  background-color: #F4F5F5;
  top:0;
}



.input_class {
  margin-bottom: 10px;
  width: 200px;
}
#login_form_div {
  border: 2px red;
  border-style: solid;
  padding: 10px;
  width: 220px;
  float: right;
}
#admin_area {
  margin-top: 54px;
  padding: 10px;
  width: 98%;
}
#user_area {
  margin-top: 100px;
  padding: 10px;
  width: 98%;
}
.template{
  border: 2px red;
  border-style: solid;
  padding: 10px;
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 2px;
  margin-left: 2px;
  cursor: pointer;
}
.btn_class{
  width: 100%;
  height: 100%;
}
.hidden {
  visibility: hidden;
}

#exit_btn{
  float: right;
  width: 80px;
  height: 30px;
  margin-right: 20px;
  
}
.clear_btn_class {
  float: right;
  width: 80px;
  height: 30px;
  margin-right: 10px;
  margin-top: 110px;
}
#user_submitted_area{
  height: 150px;
  width: 400px;
  float: right;
  border: 2px red;
  border-style: solid;
  margin-right: 10px;
}
